*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.logo{

    max-width: 7rem;

}

header{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: rgba(219, 197, 85, 0.942);
    z-index: 5;
    position: fixed;
    width: 100%;
    top: 0;
    

}

.informacion{

    margin-top: 178px;

}
